<p id="notice"><%= notice %></p>
<table border="1">
  <tr>
    <th>内容</th>
    <th>用户ID</th>
  </tr>
  <tr>
    <td style="width:80% "><%= @micropost.content %></td>
    <td style="width:20%; text-align: center"><%= @micropost.user_id %></td>
  </tr>
</table>
<%= link_to '编辑', edit_micropost_path(@micropost) %> |
<%= link_to '返回', microposts_path %>
